Importing Dataset1.xlsx from local computer and converitng it to a pandas dataframe

In [22]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_3fa636d9b3f646ac8f3bb5de175890e6 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='r1O87ZSHhNgI9W4mn1UaavErqBTxdY1bjcrlqevvEnqb',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_3fa636d9b3f646ac8f3bb5de175890e6.get_object(Bucket='businessproblemibmapplieddatascie-donotdelete-pr-dtdt3j8tjafjfu',Key='Dataset1.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(body)
df_data_0.head()

,Country,Pincode,Area,Bangalore-Division,Latitude,Longitude
0,IN,560001,Bangalore G.P.O.,Bangalore North,12.9914,77.5944
1,IN,560001,Legislators Home,Bangalore North,12.9914,77.5944
2,IN,560001,Vasanthanagar,Bangalore North,12.9914,77.5944
3,IN,560001,Mahatma Gandhi Road,Bangalore North,12.9914,77.5944
4,IN,560001,Vidhana Soudha,Bangalore North,12.9914,77.5944

In [23]:
df_data_0

,Country,Pincode,Area,Bangalore-Division,Latitude,Longitude
0,IN,560001,Bangalore G.P.O.,Bangalore North,12.9914,77.5944
1,IN,560001,Legislators Home,Bangalore North,12.9914,77.5944
2,IN,560001,Vasanthanagar,Bangalore North,12.9914,77.5944
3,IN,560001,Mahatma Gandhi Road,Bangalore North,12.9914,77.5944
4,IN,560001,Vidhana Soudha,Bangalore North,12.9914,77.5944
5,IN,560001,Rajbhavan (Bangalore),Bangalore North,12.9914,77.5944
6,IN,560001,HighCourt,Bangalore North,12.9914,77.5944
7,IN,560001,Cubban Road,Bangalore North,12.9914,77.5944
8,IN,560001,Bangalore Bazaar,Bangalore North,12.9914,77.5944
9,IN,560001,CMM Court Complex,Bangalore North,12.9914,77.5944
10,IN,560001,Dr. Ambedkar Veedhi,Bangalore North,12.9914,77.5944
11,IN,560002,Bangalore City,Bangalore North,12.9719,77.5937
12,IN,560002,Bangalore Corporation Building,Bangalore South,12.9719,77.5937
13,IN,560002,Sri Jayachamarajendra Road,Bangalore South,12.9719,77.5937
14,IN,560003,Palace Guttahalli,Bangalore North,13.0097,77.5648
15,IN,560003,Malleswaram,Bangalore North,13.0097,77.5648
16,IN,560003,Swimming Pool Extn,Bangalore North,13.0097,77.5648
17,IN,560003,Vyalikaval Extn,Bangalore North,13.0097,77.5648
18,IN,560004,Pampamahakavi Road,Bangalore South,13.5207,76.0303
19,IN,560004,Thyagarajnagar,Bangalore South,13.5207,76.0303
20,IN,560004,Mavalli,Bangalore South,14.0998,74.4891
21,IN,560004,Basavanagudi,Bangalore South,12.9417,77.5714
22,IN,560005,Fraser Town,Bangalore North,13.2029,76.9627
23,IN,560006,J.C.Nagar,Bangalore North,13.2029,76.9627
24,IN,560006,Training Command IAF,Bangalore North,13.2029,76.9627
25,IN,560007,Agram,Bangalore South,13.2029,76.9627
26,IN,560007,Air Force Hospital,Bangalore North,13.2029,76.9627
27,IN,560008,Hulsur Bazaar,Bangalore North,13.2029,76.9627
28,IN,560008,H.A.L II Stage,Bangalore North,13.2029,76.9627
29,IN,560009,K. G. Road,Bangalore North,13.2029,76.9627
...,...,...,...,...,...,...
203,IN,560087,Gunjur,Bangalore North,12.9316,77.6041
204,IN,560090,Tarabanahalli,Bangalore North,13.0068,77.5971
205,IN,560091,Herohalli,Bangalore North,13.0583,77.5732
206,IN,560091,Bapagrama,Bangalore North,13.0583,77.5732
207,IN,560091,Viswaneedam,Bangalore North,13.0583,77.5732
208,IN,560091,Herohalli,Bangalore north,13.0583,77.5732
209,IN,560092,Amruthahalli,Bangalore North,13.0597,77.5831
210,IN,560092,Byatarayanapura,Bangalore North,13.0611,77.5930
211,IN,560092,Kodigehalli,Bangalore North,13.0583,77.5732
212,IN,560092,Sahakaranagar P.O,Bangalore North,13.0597,77.5831
213,IN,560093,C.V.Raman Nagar,Bangalore North,13.0068,77.5971
214,IN,560094,ISRO Anthariksha Bhavan,Bangalore North,13.0068,77.5971
215,IN,560094,R.M.V. Extension II Stage,Bangalore North,13.0068,77.5971
216,IN,560095,Koramangala VI Bk,Bangalore South,13.0068,77.5971
217,IN,560096,Nandinilayout,Bangalore North,13.0134,77.5361
218,IN,560097,Chikkabettahalli,Bangalore North,13.0814,77.5566
219,IN,560097,Vidyaranyapura,Bangalore North,13.0814,77.5566
220,IN,560098,Rajarajeshwarinagar,Bangalore South,13.1195,77.5837
221,IN,560098,Kenchanahalli,Bangalore South,13.1195,77.5837
222,IN,560099,Bommasandra Industrial Estate,Bangalore South,12.8311,77.6804
223,IN,560099,Hebbagodi,Bangalore South,12.8263,77.6809
224,IN,560099,Muthanallur,Bangalore South,12.8311,77.6804
225,IN,560100,Electronics City,Bangalore South,12.8458,77.6727
226,IN,560100,Wipro Limited,Bangalore South,12.8458,77.6727
227,IN,560102,HSR Layout,Bangalore South,13.1791,77.0942
228,IN,560103,Bellandur,Bangalore South,12.9255,77.6765
229,IN,560103,Panathur,Bangalore South,12.9255,77.6765
230,IN,560104,Hampinagar,Bangalore North,13.1791,77.0942
231,IN,560109,Thalaghattapura,Bangalore South,13.1791,77.0942
232,IN,560110,Ullalu Upanagar,Bangalore North,13.1791,77.0942

Importing Dataset2.xlsx from local computer and converitng it to a pandas dataframe

In [24]:

body = client_3fa636d9b3f646ac8f3bb5de175890e6.get_object(Bucket='businessproblemibmapplieddatascie-donotdelete-pr-dtdt3j8tjafjfu',Key='Dataset2.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_excel(body)
df_data_1.head()

,Pincode,E.no 1-50,E.no 51-100,E.no 101-250,E.no 251-500,E.no 501-1000,E.no 1001-2500,E.no 2501-5000,E.no 5001 & above
0,560001,157,90,91,54,22,14,8,7
1,560002,47,23,13,6,0,2,0,1
2,560003,54,22,16,5,2,1,0,0
3,560004,53,28,27,10,0,2,1,1
4,560005,37,14,6,0,1,0,1,1

Preparing Dataset3 - Dataset1 followed by addition of Foursquare data.

i. Removing columns designated as 'Country','Pincode' and 'Bangalore-Division' from Dataset1.

In [29]:
df=df_data_0.drop(['Country','Pincode','Bangalore-Division'], axis=1)

In [30]:
df

                               Area  Latitude  Longitude
0                  Bangalore G.P.O.   12.9914    77.5944
1                  Legislators Home   12.9914    77.5944
2                     Vasanthanagar   12.9914    77.5944
3               Mahatma Gandhi Road   12.9914    77.5944
4                    Vidhana Soudha   12.9914    77.5944
5             Rajbhavan (Bangalore)   12.9914    77.5944
6                         HighCourt   12.9914    77.5944
7                       Cubban Road   12.9914    77.5944
8                  Bangalore Bazaar   12.9914    77.5944
9                 CMM Court Complex   12.9914    77.5944
10              Dr. Ambedkar Veedhi   12.9914    77.5944
11                   Bangalore City   12.9719    77.5937
12   Bangalore Corporation Building   12.9719    77.5937
13       Sri Jayachamarajendra Road   12.9719    77.5937
14                Palace Guttahalli   13.0097    77.5648
15                      Malleswaram   13.0097    77.5648
16               Swimming Pool Extn   13.0097    77.5648
17                  Vyalikaval Extn   13.0097    77.5648
18               Pampamahakavi Road   13.5207    76.0303
19                   Thyagarajnagar   13.5207    76.0303
20                          Mavalli   14.0998    74.4891
21                     Basavanagudi   12.9417    77.5714
22                      Fraser Town   13.2029    76.9627
23                        J.C.Nagar   13.2029    76.9627
24             Training Command IAF   13.2029    76.9627
25                            Agram   13.2029    76.9627
26               Air Force Hospital   13.2029    76.9627
27                    Hulsur Bazaar   13.2029    76.9627
28                   H.A.L II Stage   13.2029    76.9627
29                       K. G. Road   13.2029    76.9627
..                              ...       ...        ...
203                          Gunjur   12.9316    77.6041
204                   Tarabanahalli   13.0068    77.5971
205                       Herohalli   13.0583    77.5732
206                       Bapagrama   13.0583    77.5732
207                     Viswaneedam   13.0583    77.5732
208                       Herohalli   13.0583    77.5732
209                    Amruthahalli   13.0597    77.5831
210                 Byatarayanapura   13.0611    77.5930
211                     Kodigehalli   13.0583    77.5732
212               Sahakaranagar P.O   13.0597    77.5831
213                 C.V.Raman Nagar   13.0068    77.5971
214         ISRO Anthariksha Bhavan   13.0068    77.5971
215       R.M.V. Extension II Stage   13.0068    77.5971
216               Koramangala VI Bk   13.0068    77.5971
217                   Nandinilayout   13.0134    77.5361
218                Chikkabettahalli   13.0814    77.5566
219                  Vidyaranyapura   13.0814    77.5566
220             Rajarajeshwarinagar   13.1195    77.5837
221                   Kenchanahalli   13.1195    77.5837
222   Bommasandra Industrial Estate   12.8311    77.6804
223                       Hebbagodi   12.8263    77.6809
224                     Muthanallur   12.8311    77.6804
225                Electronics City   12.8458    77.6727
226                   Wipro Limited   12.8458    77.6727
227                      HSR Layout   13.1791    77.0942
228                       Bellandur   12.9255    77.6765
229                        Panathur   12.9255    77.6765
230                      Hampinagar   13.1791    77.0942
231                 Thalaghattapura   13.1791    77.0942
232                 Ullalu Upanagar   13.1791    77.0942

[233 rows x 3 columns]

ii.Grouping data by Longitude and Latitude and joining the areas.

In [32]:
long_lat_data=df.groupby(['Longitude','Latitude'],sort=False).agg(', '.join)
long_lat_data.reset_index(inplace=True)
long_lat_data

    Longitude  Latitude                                               Area
0     77.5944   12.9914  Bangalore G.P.O., Legislators Home, Vasanthana...
1     77.5937   12.9719  Bangalore City, Bangalore Corporation Building...
2     77.5648   13.0097  Palace Guttahalli, Malleswaram, Swimming Pool ...
3     76.0303   13.5207                 Pampamahakavi Road, Thyagarajnagar
4     74.4891   14.0998                                            Mavalli
5     77.5714   12.9417                                       Basavanagudi
6     76.9627   13.2029  Fraser Town, J.C.Nagar, Training Command IAF, ...
7     77.5491   12.9847  Rajajinagar, Industrial Estate (Bangalore), Ra...
8     76.2752   15.8266  Jayangar III Block, Madhavan Park, Science Ins...
9     77.5474   13.0448                                          Jalahalli
10    73.7291   21.4504                                    Vimanapura, NAL
11    77.5789   12.9879                                      Seshadripuram
12    77.5625   12.9879                         Gayathrinagar, Srirampuram
13    77.4484   13.1100  Yeshwanthpur Bazar, Yeswanthpura, Anandnagar (...
14    77.5489   12.9750                                        Magadi Road
15    77.6025   12.9634  Museum Road, Richmond Town, CMP Centre And School
16    77.5952   12.9506      Sampangiramnagar, Wilson Garden, Shanthinagar
17    76.8024   13.7952                      Tavarekere, Dharmaram College
18    77.6079   12.9440                                            Adugodi
19    77.6153   12.9380  R T Nagar, Kanakanagar, P&T Col. Kavalbyrasand...
20    77.6227   12.9320  Agara, Koramangala, Koramangala I Block, St. J...
21    77.4920   12.6859  Chandra Lay Out, Vijayanagar (Bangalore), Vija...
22    77.5885   12.9278                  Jayanagar, Tilaknagar (Bangalore)
23    77.6487   13.0158   Horamavu, Banaswadi, Jalavayuvihar, Kalyananagar
24    77.6226   13.0360           Nagawara, Arabic College, Venkateshapura
25    77.6044   12.9985                                        Benson Town
26    77.7164   12.9944                                              Hoodi
27    77.6869   12.9923                                       Mahadevapura
28    76.5761   10.8368  Mundur, Bidrahalli, Thambuchetty palya, Virgon...
29    77.5609   13.0323  Dasarahalli(Srinagar), State Bank Of Mysore Co...
..        ...       ...                                                ...
38    77.6209   12.9240                                           Madivala
39    77.6299   12.8931                                       Bommanahalli
40    77.5798   12.9229  Tyagrajnagar, B Sk II Stage, Padmanabhnagar, J...
41    77.6391   12.9617                                             Domlur
42    77.5113   12.9801                                         Nagarbhavi
43    77.5978   12.8939  Bannerghatta Road, Mount St Joseph, Bilekahall...
44    77.6001   12.9106                                        Mico Layout
45    77.5709   12.9020                                     Yelachenahalli
46    77.5617   12.9057                                 Kumaraswamy Layout
47    77.5663   12.9038                      J P Nagar, JP Nagar III Phase
48    77.5806   13.0104                                     Sadashivanagar
49    77.5053   12.7717                                             Bolare
50    77.5896   12.8608                                          Gottigere
51    77.6011   12.9023                                       Bannerghatta
52    77.6374   13.0096  Lingarajapuram, Kacharakanahalli, St. Thomas Town
53    77.5930   13.0611                   Byatarayanapura, Byatarayanapura
54    77.5523   12.9299                                        Kathriguppe
55    77.5726   12.9955  Girinagar (Bangalore), Hosakerehalli, Banashan...
56    77.6041   12.9316  West of Chord Road II stage, Mahalakshmipuram ...
57    77.5971   13.0068  Tarabanahalli, C.V.Raman Nagar, ISRO Anthariks...
58    77.5732   13.0583  Herohalli, Bapagrama, Viswaneedam, Herohalli, ...
59    77.5831   13.0597                    Amruthahalli, Sahakaranagar P.O
60    77.5361   13.0134                                      Nandinilayout
61    77.5566   13.0814                   Chikkabettahalli, Vidyaranyapura
62    77.5837   13.1195                 Rajarajeshwarinagar, Kenchanahalli
63    77.6804   12.8311         Bommasandra Industrial Estate, Muthanallur
64    77.6809   12.8263                                          Hebbagodi
65    77.6727   12.8458                    Electronics City, Wipro Limited
66    77.0942   13.1791  HSR Layout, Hampinagar, Thalaghattapura, Ullal...
67    77.6765   12.9255                                Bellandur, Panathur

[68 rows x 3 columns]

iii. Seting up Foursqaure credentials

In [38]:
CLIENT_ID = 'NJO5CSY5OPUDPDP51UFVB0TOIKJW51G21KUKGU3QIZLTEE5I' # your Foursquare ID
CLIENT_SECRET = 'M50DCNP1YIGF30YIPMKLKQ5SHLBLGHPKKDCBXPDSC1M3LPPX' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: NJO5CSY5OPUDPDP51UFVB0TOIKJW51G21KUKGU3QIZLTEE5I
CLIENT_SECRET:M50DCNP1YIGF30YIPMKLKQ5SHLBLGHPKKDCBXPDSC1M3LPPX

iv. Trial-Generating data for pair of longitude and latitude using Foursqaure data.

In [123]:
radius = 1000
search_query1='Food'

In [130]:
longitude =long_lat_data.loc[11,'Longitude']
latitude =long_lat_data.loc[11,'Latitude']
LIMIT=2000
longitude

77.5789

In [131]:
url='https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=NJO5CSY5OPUDPDP51UFVB0TOIKJW51G21KUKGU3QIZLTEE5I&client_secret=M50DCNP1YIGF30YIPMKLKQ5SHLBLGHPKKDCBXPDSC1M3LPPX&ll=12.9879,77.5789&v=20180605&query=Food&radius=1000&limit=2000'

In [132]:
import json
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [133]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5f0ec3a90b8e5652329c9c5b'},
 'response': {'venues': [{'id': '4c15e70e7f7f2d7f4725e368',
    'name': 'Food Court',
    'location': {'address': 'Mantri Square, Malleshwaram',
     'crossStreet': '1, Sampige Rd',
     'lat': 12.991646212171805,
     'lng': 77.57061710566572,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.991646212171805,
       'lng': 77.57061710566572}],
     'distance': 990,
     'cc': 'IN',
     'city': 'Bangalore',
     'state': 'Karnātaka',
     'country': 'India',
     'formattedAddress': ['Mantri Square, Malleshwaram (1, Sampige Rd)',
      'Bangalore',
      'Karnātaka',
      'India']},
    'categories': [{'id': '4bf58dd8d48988d120951735',
      'name': 'Food Court',
      'pluralName': 'Food Courts',
      'shortName': 'Food Court',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_foodcourt_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '58038f61d67c97767aed42d3',
    'name': 'food shack',
    'location': {'lat': 12.989167,
     'lng': 77.57869,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.989167,
       'lng': 77.57869}],
     'distance': 142,
     'cc': 'IN',
     'country': 'India',
     'formattedAddress': ['India']},
    'categories': [{'id': '4bf58dd8d48988d110941735',
      'name': 'Italian Restaurant',
      'pluralName': 'Italian Restaurants',
      'shortName': 'Italian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '52ee437b498ef60e403eb9e8',
    'name': 'Sagar food mall',
    'location': {'lat': 12.988262880536288,
     'lng': 77.57710704647988,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.988262880536288,
       'lng': 77.57710704647988}],
     'distance': 198,
     'cc': 'IN',
     'country': 'India',
     'formattedAddress': ['India']},
    'categories': [{'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'shortName': 'Fast Food',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '5985918df0ca957f7ef97eef',
    'name': 'Food Point',
    'location': {'lat': 12.988431,
     'lng': 77.57672,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.988431,
       'lng': 77.57672}],
     'distance': 243,
     'postalCode': '560020',
     'cc': 'IN',
     'city': 'Bangalore',
     'state': 'Karnātaka',
     'country': 'India',
     'formattedAddress': ['Bangalore 560020', 'Karnātaka', 'India']},
    'categories': [{'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'shortName': 'Fast Food',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '4e7c922c45ddca1aee62a780',
    'name': 'General Food Additives',
    'location': {'address': '175/3, 1st main road',
     'crossStreet': 'Seshadripuram ( opp HDFC bank)',
     'lat': 12.99138268874908,
     'lng': 77.57510342891321,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.99138268874908,
       'lng': 77.57510342891321}],
     'distance': 565,
     'postalCode': '560020',
     'cc': 'IN',
     'city': 'Bangalore',
     'state': 'Karnātaka',
     'country': 'India',
     'formattedAddress': ['175/3, 1st main road (Seshadripuram ( opp HDFC bank))',
      'Bangalore 560020',
      'Karnātaka',
      'India']},
    'categories': [],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '5736e2ea498eac23d5bdfb3b',
    'name': 'forgotten food',
    'location': {'lat': 12.990248,
     'lng': 77.571838,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.990248,
       'lng': 77.571838}],
     'distance': 809,
     'cc': 'IN',
     'country': 'India',
     'formattedAddress': ['India']},
    'categories': [{'id': '52e81612bcbc57f1066b7a00',
      'name': 'Comfort Food Restaurant',
      'pluralName': 'Comfort Food Restaurants',
      'shortName': 'Comfort Food',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '4f2d4abde4b0dbffdc0e1c0d',
    'name': 'Vegbynature- food courts',
    'location': {'lat': 12.991557678944046,
     'lng': 77.57106810263681,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.991557678944046,
       'lng': 77.57106810263681}],
     'distance': 942,
     'cc': 'IN',
     'country': 'India',
     'formattedAddress': ['India']},
    'categories': [{'id': '4bf58dd8d48988d10f941735',
      'name': 'Indian Restaurant',
      'pluralName': 'Indian Restaurants',
      'shortName': 'Indian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/indian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '4f267c17e4b0085e4bf50265',
    'name': 'Commissionerate of Food Safety',
    'location': {'address': 'Anandrao Circle',
     'lat': 12.9814657,
     'lng': 77.5736428,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.9814657,
       'lng': 77.5736428}],
     'distance': 915,
     'cc': 'IN',
     'city': 'Bangalore',
     'state': 'Karnātaka',
     'country': 'India',
     'formattedAddress': ['Anandrao Circle',
      'Bangalore',
      'Karnātaka',
      'India']},
    'categories': [],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '5252354311d233ad1b7a27ad',
    'name': 'Golden Landmark Food,Banglore',
    'location': {'lat': 12.980436325073242,
     'lng': 77.57380676269531,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.980436325073242,
       'lng': 77.57380676269531}],
     'distance': 997,
     'cc': 'IN',
     'country': 'India',
     'formattedAddress': ['India']},
    'categories': [{'id': '4bf58dd8d48988d10f941735',
      'name': 'Indian Restaurant',
      'pluralName': 'Indian Restaurants',
      'shortName': 'Indian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/indian_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '4e60964262e13e3bcdd1c175',
    'name': 'Palette, The food court',
    'location': {'address': '4th floor, Mantri square',
     'crossStreet': 'Malleshwaram',
     'lat': 12.991731346390726,
     'lng': 77.57043564595148,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.991731346390726,
       'lng': 77.57043564595148}],
     'distance': 1012,
     'cc': 'IN',
     'city': 'Bangalore',
     'state': 'Karnātaka',
     'country': 'India',
     'formattedAddress': ['4th floor, Mantri square (Malleshwaram)',
      'Bangalore',
      'Karnātaka',
      'India']},
    'categories': [],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '58689e58b210145ef673ca80',
    'name': 'Healthy Food Tech',
    'location': {'lat': 12.995673,
     'lng': 77.572556,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.995673,
       'lng': 77.572556}],
     'distance': 1105,
     'cc': 'IN',
     'country': 'India',
     'formattedAddress': ['India']},
    'categories': [{'id': '4bf58dd8d48988d1ff941735',
      'name': 'Miscellaneous Shop',
      'pluralName': 'Miscellaneous Shops',
      'shortName': 'Shop',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/default_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False},
   {'id': '4f6609eae4b036e3e96bb5e9',
    'name': 'Kaati Zone',
    'location': {'address': 'Mantri Mall Food Court',
     'lat': 12.991846164008463,
     'lng': 77.57040766106077,
     'labeledLatLngs': [{'label': 'display',
       'lat': 12.991846164008463,
       'lng': 77.57040766106077}],
     'distance': 1020,
     'cc': 'IN',
     'state': 'Karnātaka',
     'country': 'India',
     'formattedAddress': ['Mantri Mall Food Court', 'Karnātaka', 'India']},
    'categories': [{'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'shortName': 'Fast Food',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1594803659',
    'hasPerk': False}]}}

In [134]:
# assign relevant part of JSON to venues
V1= results['response']['venues']
dataframe = json_normalize(V1)
V1=dataframe['name']
V1

0                         Food Court
1                         food shack
2                    Sagar food mall
3                         Food Point
4             General Food Additives
5                     forgotten food
6           Vegbynature- food courts
7     Commissionerate of Food Safety
8      Golden Landmark Food,Banglore
9            Palette, The food court
10                 Healthy Food Tech
11                        Kaati Zone
Name: name, dtype: object

In [135]:
V1.count()

12

Running a for loop to check all the Food Outlets within 500m of all lonitudes and latitudes.

In [136]:
data=[]
for i in range (68):
    radius = 2000
    search_query1='Food'
    longitude =long_lat_data.loc[i,'Longitude']
    latitude =long_lat_data.loc[i,'Latitude']
    LIMIT=5000
    url='https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
    results = requests.get(url).json()
    V1= results['response']['venues']
    dataframe = json_normalize(V1)
    if 'name' in dataframe:
         V1=dataframe['name'].count()
         f1=(V1,longitude,latitude)
         data.append(f1)
         print(V1,longitude,latitude)
    else:
         f1=(0, longitude,latitude)
         data.append(f1)
         print (0,longitude,latitude)

31 77.5944 12.9914
49 77.5937 12.9719
47 77.5648 13.0097
0 76.0303 13.5207
0 74.4891 14.0998
35 77.5714 12.9417
0 76.9627 13.2029
37 77.5491 12.9847
0 76.2752 15.8266
9 77.5474 13.0448
0 73.7291 21.4504
42 77.5789 12.9879
44 77.5625 12.9879
0 77.4484 13.11
32 77.5489 12.975
48 77.6025 12.9634
31 77.5952 12.9506
0 76.8024 13.7952
50 77.6079 12.944
50 77.6153 12.938
50 77.6227 12.932
0 77.492 12.6859
50 77.5885 12.9278
28 77.6487 13.0158
20 77.6226 13.036
37 77.6044 12.9985
20 77.7164 12.9944
21 77.6869 12.9923
0 76.5761 10.8368
40 77.5609 13.0323
8 77.481 12.9121
0 77.7432 12.769
0 78.0988 12.3477
10 77.5963 13.1013
1 78.6014 11.5941
22 77.7473 12.9716
3 77.6279 12.8706
23 77.626 12.8949
50 77.6209 12.924
19 77.6299 12.8931
50 77.5798 12.9229
50 77.6391 12.9617
9 77.5113 12.9801
48 77.5978 12.8939
50 77.6001 12.9106
21 77.5709 12.902
17 77.5617 12.9057
19 77.5663 12.9038
37 77.5806 13.0104
0 77.5053 12.7717
12 77.5896 12.8608
50 77.6011 12.9023
32 77.6374 13.0096
16 77.593 13.0611
21 77.5523 12.9299
37 77.5726 12.9955
50 77.6041 12.9316
33 77.5971 13.0068
19 77.5732 13.0583
18 77.5831 13.0597
22 77.5361 13.0134
7 77.5566 13.0814
5 77.5837 13.1195
19 77.6804 12.8311
9 77.6809 12.8263
44 77.6727 12.8458
0 77.0942 13.1791
33 77.6765 12.9255

In [137]:
data

[(31, 77.5944, 12.9914),
 (49, 77.5937, 12.9719),
 (47, 77.5648, 13.0097),
 (0, 76.0303, 13.5207),
 (0, 74.4891, 14.0998),
 (35, 77.5714, 12.9417),
 (0, 76.9627, 13.2029),
 (37, 77.5491, 12.9847),
 (0, 76.2752, 15.8266),
 (9, 77.5474, 13.0448),
 (0, 73.7291, 21.4504),
 (42, 77.5789, 12.9879),
 (44, 77.5625, 12.9879),
 (0, 77.4484, 13.11),
 (32, 77.5489, 12.975),
 (48, 77.6025, 12.9634),
 (31, 77.5952, 12.9506),
 (0, 76.8024, 13.7952),
 (50, 77.6079, 12.944),
 (50, 77.6153, 12.938),
 (50, 77.6227, 12.932),
 (0, 77.492, 12.6859),
 (50, 77.5885, 12.9278),
 (28, 77.6487, 13.0158),
 (20, 77.6226, 13.036),
 (37, 77.6044, 12.9985),
 (20, 77.7164, 12.9944),
 (21, 77.6869, 12.9923),
 (0, 76.5761, 10.8368),
 (40, 77.5609, 13.0323),
 (8, 77.481, 12.9121),
 (0, 77.7432, 12.769),
 (0, 78.0988, 12.3477),
 (10, 77.5963, 13.1013),
 (1, 78.6014, 11.5941),
 (22, 77.7473, 12.9716),
 (3, 77.6279, 12.8706),
 (23, 77.626, 12.8949),
 (50, 77.6209, 12.924),
 (19, 77.6299, 12.8931),
 (50, 77.5798, 12.9229),
 (50, 77.6391, 12.9617),
 (9, 77.5113, 12.9801),
 (48, 77.5978, 12.8939),
 (50, 77.6001, 12.9106),
 (21, 77.5709, 12.902),
 (17, 77.5617, 12.9057),
 (19, 77.5663, 12.9038),
 (37, 77.5806, 13.0104),
 (0, 77.5053, 12.7717),
 (12, 77.5896, 12.8608),
 (50, 77.6011, 12.9023),
 (32, 77.6374, 13.0096),
 (16, 77.593, 13.0611),
 (21, 77.5523, 12.9299),
 (37, 77.5726, 12.9955),
 (50, 77.6041, 12.9316),
 (33, 77.5971, 13.0068),
 (19, 77.5732, 13.0583),
 (18, 77.5831, 13.0597),
 (22, 77.5361, 13.0134),
 (7, 77.5566, 13.0814),
 (5, 77.5837, 13.1195),
 (19, 77.6804, 12.8311),
 (9, 77.6809, 12.8263),
 (44, 77.6727, 12.8458),
 (0, 77.0942, 13.1791),
 (33, 77.6765, 12.9255)]

Converting the data into a pandas dataframe designating it as 'dataset3'.

In [138]:
dataset3=pd.DataFrame(data=data)
dataset3

     0        1        2
0   31  77.5944  12.9914
1   49  77.5937  12.9719
2   47  77.5648  13.0097
3    0  76.0303  13.5207
4    0  74.4891  14.0998
5   35  77.5714  12.9417
6    0  76.9627  13.2029
7   37  77.5491  12.9847
8    0  76.2752  15.8266
9    9  77.5474  13.0448
10   0  73.7291  21.4504
11  42  77.5789  12.9879
12  44  77.5625  12.9879
13   0  77.4484  13.1100
14  32  77.5489  12.9750
15  48  77.6025  12.9634
16  31  77.5952  12.9506
17   0  76.8024  13.7952
18  50  77.6079  12.9440
19  50  77.6153  12.9380
20  50  77.6227  12.9320
21   0  77.4920  12.6859
22  50  77.5885  12.9278
23  28  77.6487  13.0158
24  20  77.6226  13.0360
25  37  77.6044  12.9985
26  20  77.7164  12.9944
27  21  77.6869  12.9923
28   0  76.5761  10.8368
29  40  77.5609  13.0323
..  ..      ...      ...
38  50  77.6209  12.9240
39  19  77.6299  12.8931
40  50  77.5798  12.9229
41  50  77.6391  12.9617
42   9  77.5113  12.9801
43  48  77.5978  12.8939
44  50  77.6001  12.9106
45  21  77.5709  12.9020
46  17  77.5617  12.9057
47  19  77.5663  12.9038
48  37  77.5806  13.0104
49   0  77.5053  12.7717
50  12  77.5896  12.8608
51  50  77.6011  12.9023
52  32  77.6374  13.0096
53  16  77.5930  13.0611
54  21  77.5523  12.9299
55  37  77.5726  12.9955
56  50  77.6041  12.9316
57  33  77.5971  13.0068
58  19  77.5732  13.0583
59  18  77.5831  13.0597
60  22  77.5361  13.0134
61   7  77.5566  13.0814
62   5  77.5837  13.1195
63  19  77.6804  12.8311
64   9  77.6809  12.8263
65  44  77.6727  12.8458
66   0  77.0942  13.1791
67  33  77.6765  12.9255

[68 rows x 3 columns]

Naming the columns of the generated dataframe.

In [139]:
dataset3.columns=['Number of Food Outlets','longitude','latitude']
dataset3

    Number of Food Outlets  longitude  latitude
0                       31    77.5944   12.9914
1                       49    77.5937   12.9719
2                       47    77.5648   13.0097
3                        0    76.0303   13.5207
4                        0    74.4891   14.0998
5                       35    77.5714   12.9417
6                        0    76.9627   13.2029
7                       37    77.5491   12.9847
8                        0    76.2752   15.8266
9                        9    77.5474   13.0448
10                       0    73.7291   21.4504
11                      42    77.5789   12.9879
12                      44    77.5625   12.9879
13                       0    77.4484   13.1100
14                      32    77.5489   12.9750
15                      48    77.6025   12.9634
16                      31    77.5952   12.9506
17                       0    76.8024   13.7952
18                      50    77.6079   12.9440
19                      50    77.6153   12.9380
20                      50    77.6227   12.9320
21                       0    77.4920   12.6859
22                      50    77.5885   12.9278
23                      28    77.6487   13.0158
24                      20    77.6226   13.0360
25                      37    77.6044   12.9985
26                      20    77.7164   12.9944
27                      21    77.6869   12.9923
28                       0    76.5761   10.8368
29                      40    77.5609   13.0323
..                     ...        ...       ...
38                      50    77.6209   12.9240
39                      19    77.6299   12.8931
40                      50    77.5798   12.9229
41                      50    77.6391   12.9617
42                       9    77.5113   12.9801
43                      48    77.5978   12.8939
44                      50    77.6001   12.9106
45                      21    77.5709   12.9020
46                      17    77.5617   12.9057
47                      19    77.5663   12.9038
48                      37    77.5806   13.0104
49                       0    77.5053   12.7717
50                      12    77.5896   12.8608
51                      50    77.6011   12.9023
52                      32    77.6374   13.0096
53                      16    77.5930   13.0611
54                      21    77.5523   12.9299
55                      37    77.5726   12.9955
56                      50    77.6041   12.9316
57                      33    77.5971   13.0068
58                      19    77.5732   13.0583
59                      18    77.5831   13.0597
60                      22    77.5361   13.0134
61                       7    77.5566   13.0814
62                       5    77.5837   13.1195
63                      19    77.6804   12.8311
64                       9    77.6809   12.8263
65                      44    77.6727   12.8458
66                       0    77.0942   13.1791
67                      33    77.6765   12.9255

[68 rows x 3 columns]

Printing all datasets.

Dataset1: Consists of data of all areas/neighborhoods in bangalore with their corresponding pincodes and longitudes and latitude.This dataset gives informations regarding the neigborhoods in bangalore.

In [120]:
dataset1=df_data_0
dataset1

,Country,Pincode,Area,Bangalore-Division,Latitude,Longitude
0,IN,560001,Bangalore G.P.O.,Bangalore North,12.9914,77.5944
1,IN,560001,Legislators Home,Bangalore North,12.9914,77.5944
2,IN,560001,Vasanthanagar,Bangalore North,12.9914,77.5944
3,IN,560001,Mahatma Gandhi Road,Bangalore North,12.9914,77.5944
4,IN,560001,Vidhana Soudha,Bangalore North,12.9914,77.5944
5,IN,560001,Rajbhavan (Bangalore),Bangalore North,12.9914,77.5944
6,IN,560001,HighCourt,Bangalore North,12.9914,77.5944
7,IN,560001,Cubban Road,Bangalore North,12.9914,77.5944
8,IN,560001,Bangalore Bazaar,Bangalore North,12.9914,77.5944
9,IN,560001,CMM Court Complex,Bangalore North,12.9914,77.5944
10,IN,560001,Dr. Ambedkar Veedhi,Bangalore North,12.9914,77.5944
11,IN,560002,Bangalore City,Bangalore North,12.9719,77.5937
12,IN,560002,Bangalore Corporation Building,Bangalore South,12.9719,77.5937
13,IN,560002,Sri Jayachamarajendra Road,Bangalore South,12.9719,77.5937
14,IN,560003,Palace Guttahalli,Bangalore North,13.0097,77.5648
15,IN,560003,Malleswaram,Bangalore North,13.0097,77.5648
16,IN,560003,Swimming Pool Extn,Bangalore North,13.0097,77.5648
17,IN,560003,Vyalikaval Extn,Bangalore North,13.0097,77.5648
18,IN,560004,Pampamahakavi Road,Bangalore South,13.5207,76.0303
19,IN,560004,Thyagarajnagar,Bangalore South,13.5207,76.0303
20,IN,560004,Mavalli,Bangalore South,14.0998,74.4891
21,IN,560004,Basavanagudi,Bangalore South,12.9417,77.5714
22,IN,560005,Fraser Town,Bangalore North,13.2029,76.9627
23,IN,560006,J.C.Nagar,Bangalore North,13.2029,76.9627
24,IN,560006,Training Command IAF,Bangalore North,13.2029,76.9627
25,IN,560007,Agram,Bangalore South,13.2029,76.9627
26,IN,560007,Air Force Hospital,Bangalore North,13.2029,76.9627
27,IN,560008,Hulsur Bazaar,Bangalore North,13.2029,76.9627
28,IN,560008,H.A.L II Stage,Bangalore North,13.2029,76.9627
29,IN,560009,K. G. Road,Bangalore North,13.2029,76.9627
...,...,...,...,...,...,...
203,IN,560087,Gunjur,Bangalore North,12.9316,77.6041
204,IN,560090,Tarabanahalli,Bangalore North,13.0068,77.5971
205,IN,560091,Herohalli,Bangalore North,13.0583,77.5732
206,IN,560091,Bapagrama,Bangalore North,13.0583,77.5732
207,IN,560091,Viswaneedam,Bangalore North,13.0583,77.5732
208,IN,560091,Herohalli,Bangalore north,13.0583,77.5732
209,IN,560092,Amruthahalli,Bangalore North,13.0597,77.5831
210,IN,560092,Byatarayanapura,Bangalore North,13.0611,77.5930
211,IN,560092,Kodigehalli,Bangalore North,13.0583,77.5732
212,IN,560092,Sahakaranagar P.O,Bangalore North,13.0597,77.5831
213,IN,560093,C.V.Raman Nagar,Bangalore North,13.0068,77.5971
214,IN,560094,ISRO Anthariksha Bhavan,Bangalore North,13.0068,77.5971
215,IN,560094,R.M.V. Extension II Stage,Bangalore North,13.0068,77.5971
216,IN,560095,Koramangala VI Bk,Bangalore South,13.0068,77.5971
217,IN,560096,Nandinilayout,Bangalore North,13.0134,77.5361
218,IN,560097,Chikkabettahalli,Bangalore North,13.0814,77.5566
219,IN,560097,Vidyaranyapura,Bangalore North,13.0814,77.5566
220,IN,560098,Rajarajeshwarinagar,Bangalore South,13.1195,77.5837
221,IN,560098,Kenchanahalli,Bangalore South,13.1195,77.5837
222,IN,560099,Bommasandra Industrial Estate,Bangalore South,12.8311,77.6804
223,IN,560099,Hebbagodi,Bangalore South,12.8263,77.6809
224,IN,560099,Muthanallur,Bangalore South,12.8311,77.6804
225,IN,560100,Electronics City,Bangalore South,12.8458,77.6727
226,IN,560100,Wipro Limited,Bangalore South,12.8458,77.6727
227,IN,560102,HSR Layout,Bangalore South,13.1791,77.0942
228,IN,560103,Bellandur,Bangalore South,12.9255,77.6765
229,IN,560103,Panathur,Bangalore South,12.9255,77.6765
230,IN,560104,Hampinagar,Bangalore North,13.1791,77.0942
231,IN,560109,Thalaghattapura,Bangalore South,13.1791,77.0942
232,IN,560110,Ullalu Upanagar,Bangalore North,13.1791,77.0942

Dataset2: Consists of data :number of the companies with various employee sizes ,for ll pincodes in Bangalore. This dataset helps identify the neighborhoods in bangalore(with help of pincode) best suited for opening a restaurant.Potential neighborhoods will be the ones with high number of employees.

In [122]:
dataset2=df_data_1
dataset2

,Pincode,E.no 1-50,E.no 51-100,E.no 101-250,E.no 251-500,E.no 501-1000,E.no 1001-2500,E.no 2501-5000,E.no 5001 & above
0,560001,157,90,91,54,22,14,8,7
1,560002,47,23,13,6,0,2,0,1
2,560003,54,22,16,5,2,1,0,0
3,560004,53,28,27,10,0,2,1,1
4,560005,37,14,6,0,1,0,1,1
5,560006,1,1,1,1,0,0,0,0
6,560007,0,0,0,0,0,0,0,0
7,560008,101,57,38,16,2,3,0,0
8,560009,30,13,14,2,1,0,0,0
9,560010,64,31,19,6,6,0,0,1
10,560011,62,38,22,7,4,0,0,0
11,560012,3,0,0,2,0,1,0,0
12,560013,7,5,7,1,0,0,0,1
13,560014,2,0,0,0,0,0,0,0
14,560015,6,1,1,0,0,0,0,0
15,560016,20,15,6,5,1,1,0,1
16,560017,36,15,16,7,0,3,0,1
17,560018,13,7,8,3,0,0,0,0
18,560019,6,2,4,1,0,0,0,1
19,560020,33,15,8,5,3,0,0,1
20,560021,19,1,1,0,0,0,0,0
21,560022,30,23,17,10,2,5,0,1
22,560023,3,7,1,2,0,0,0,0
23,560024,16,14,11,5,0,2,1,0
24,560025,93,47,50,16,14,6,1,3
25,560026,21,12,6,3,0,0,0,0
26,560027,38,30,36,9,7,1,1,2
27,560029,28,15,17,6,7,4,3,2
28,560030,13,11,4,0,0,0,0,2
29,560032,0,23,9,3,1,0,1,0
...,...,...,...,...,...,...,...,...,...
66,560072,10,7,7,1,0,0,0,0
67,560073,2,6,2,0,0,2,0,0
68,560074,6,7,11,0,2,0,0,0
69,560075,38,14,8,2,0,2,0,0
70,560076,72,35,26,10,6,3,2,5
71,560077,12,5,7,2,0,0,0,0
72,560078,100,53,43,14,8,1,0,0
73,560079,45,14,10,2,0,0,0,0
74,560080,22,16,13,3,1,2,0,0
75,560082,16,15,11,4,0,0,0,0
76,560083,8,4,5,1,0,0,0,0
77,560084,20,5,2,0,0,0,0,0
78,560085,34,13,13,2,0,0,0,0
79,560086,18,10,10,2,1,1,0,1
80,560087,4,2,2,2,2,3,0,0
81,560090,7,5,1,0,0,0,0,0
82,560091,38,8,15,1,0,0,0,0
83,560092,21,14,9,5,0,1,0,1
84,560093,19,5,7,9,5,0,1,0
85,560094,29,18,7,4,3,0,0,1
86,560095,67,44,36,14,2,0,2,2
87,560097,16,3,5,1,1,0,0,0
88,560098,16,6,5,0,1,0,0,0
89,560099,24,22,40,11,7,3,2,0
90,560100,48,38,35,23,6,6,2,5
91,560102,98,64,46,11,5,0,0,1
92,560103,22,28,27,21,7,2,5,7
93,560104,5,0,2,1,0,0,0,0
94,560109,0,0,0,0,0,0,0,0
95,560110,1,0,0,0,0,0,0,0

Dataset 3:Consists of all longitudes and latitudes (same for many pincodes), along with the number of food outlets within 2000m (2km). This data will help select a potential areas/neighborhood to open a restaurant.Potential area/neighbourhoods wll be ones with low number of food outlets.

In [140]:
dataset3

    Number of Food Outlets  longitude  latitude
0                       31    77.5944   12.9914
1                       49    77.5937   12.9719
2                       47    77.5648   13.0097
3                        0    76.0303   13.5207
4                        0    74.4891   14.0998
5                       35    77.5714   12.9417
6                        0    76.9627   13.2029
7                       37    77.5491   12.9847
8                        0    76.2752   15.8266
9                        9    77.5474   13.0448
10                       0    73.7291   21.4504
11                      42    77.5789   12.9879
12                      44    77.5625   12.9879
13                       0    77.4484   13.1100
14                      32    77.5489   12.9750
15                      48    77.6025   12.9634
16                      31    77.5952   12.9506
17                       0    76.8024   13.7952
18                      50    77.6079   12.9440
19                      50    77.6153   12.9380
20                      50    77.6227   12.9320
21                       0    77.4920   12.6859
22                      50    77.5885   12.9278
23                      28    77.6487   13.0158
24                      20    77.6226   13.0360
25                      37    77.6044   12.9985
26                      20    77.7164   12.9944
27                      21    77.6869   12.9923
28                       0    76.5761   10.8368
29                      40    77.5609   13.0323
..                     ...        ...       ...
38                      50    77.6209   12.9240
39                      19    77.6299   12.8931
40                      50    77.5798   12.9229
41                      50    77.6391   12.9617
42                       9    77.5113   12.9801
43                      48    77.5978   12.8939
44                      50    77.6001   12.9106
45                      21    77.5709   12.9020
46                      17    77.5617   12.9057
47                      19    77.5663   12.9038
48                      37    77.5806   13.0104
49                       0    77.5053   12.7717
50                      12    77.5896   12.8608
51                      50    77.6011   12.9023
52                      32    77.6374   13.0096
53                      16    77.5930   13.0611
54                      21    77.5523   12.9299
55                      37    77.5726   12.9955
56                      50    77.6041   12.9316
57                      33    77.5971   13.0068
58                      19    77.5732   13.0583
59                      18    77.5831   13.0597
60                      22    77.5361   13.0134
61                       7    77.5566   13.0814
62                       5    77.5837   13.1195
63                      19    77.6804   12.8311
64                       9    77.6809   12.8263
65                      44    77.6727   12.8458
66                       0    77.0942   13.1791
67                      33    77.6765   12.9255

[68 rows x 3 columns]

Note: All datasets will have the same number of rows and columns during execution of clustering.
    They have different number of rows and columns now, as they have many repeated data in them.